body {
  background: #dcdcdc;
}


.left-side{
  width:50%;
  float:left;
  padding: 10px;
  background: #ffffff;
  margin: 20px;
}

.left-side h1{
  color: #60e3c2;
  font-style: bold;
}

.right-side {
  margin-left: 60%;
  background: #ffffff;
  padding: 10px;
}

.right-side h1 {
  color: #60e3c2;
  font-style: bold;
}

.test{
  font-style: italic;
}
