.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}

.navbar li a {
  color: #000;
  text-decoration: none;
}

.dropdown select {
  display: none;
}
