/*Format navbar elements horizontally and with space*/
.navbar li {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}

/*Format hyperlinks to be black/no underline*/
.navbar li a {
  color: #000;
  text-decoration: none;
}
/*Position navbar in the top right*/
.right-float {
  float: right;
}


.left-side{
  width:50%;
  float:left;
  padding: 10px;
  background: #ffffff;
}

.left-side h1{
  color: #60e3c2;
  font-style: bold;
}

.right-side {
  margin-left: 60%;
  background: #ffffff;
  padding: 10px;
}

.right-side h1 {
  color: #60e3c2;
  font-style: bold;
}

.test{
  font-style: italic;
}
